.bulb{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #373636;
    border: 4px solid yellow;
}

button{
   margin-left: 120px;
   margin-top: 50px;
   font-size: 30px;
}